@model Department
@{
       
    ViewBag.Title = "Create";
}


    <h1>Add a Department</h1>
    <form method="post">
        <table class="table table-hover table-bordered">
            <tr>
                <label asp-for="Name"></label>   
                <input type="text" asp-for="Name" />       
            </tr>
            </table>
        
        <input type="submit" value="Add" class="btn btn-success"/>
    </form>


@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    }
