@model Department
@{
       
    ViewBag.Title = "Student Details";
}


    <a href="/Department/index" class="btn btn-info">Departments</a>
    <table class="table table-hover table-bordered">
        <thead>
            <tr><th>ID</th> <th>Name</th></tr>
        </thead>
        <tbody>
            <tr> <td>@Model.Id </td><td>@Model.Name</td></tr>
        </tbody>
    </table>


