@model Student
@{
    Layout = "~/views/shared/_Layout1.cshtml";
    ViewBag.Title = "Create";
}



       <h1>Add a student</h1>
    
    <form method="post">
        <table class="table table-hover table-bordered">
            <tr>
                <label asp-for="Name"> </label>
                    <input asp-for="Name"/>
               <span asp-validation-for="Name"></span>
            </tr>
        <br />
            <tr>
                <label asp-for="Age"></label>      
                    <input asp-for="Age"/>
                    <span asp-validation-for="Age"></span>
                
            </tr>
        <br />
            <tr>
                <label asp-for="Email"> </label>    
                    <input asp-for="Email"/>
                     <span asp-validation-for="Email"></span>

                
            </tr>
        <br />
            <tr>
                <label asp-for="Password"></label>       
                    <input asp-for="Password"/>
                <span asp-validation-for="Password"></span>
            </tr>
        <br />
            <tr>
                <label asp-for="CPassword"></label>      
                    <input asp-for="CPassword"/>
               <span asp-validation-for="CPassword"></span>
            </tr>
        <br />
            <tr>
                 <label asp-for="Dno"> </label>
                  <select asp-for="Dno" asp-items="ViewBag.departments"></select>

            </tr>

            </table>

        <input type="submit" title="Add"/>
    </form>
@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    }
