@model Student
@{
    Layout = "~/views/shared/_Layout1.cshtml";
    ViewBag.Title = "Delete";
}


    <form method="post">
        <header>Are you sure you want to delete the student with this record?</header>
        <table class="table table-hover table-bordered">
            <thead>
                <tr><th>ID</th> <th>Name</th> <th>Age</th> <th>Department</th></tr>
            </thead>
            <tbody>
                <tr> <td>@Model.Id </td><td>@Model.FirstName</td> <td>@Model.BirthDate</td> <td>@Model.Department?.Name</td> </tr>
            </tbody>
        </table>
        <input type="submit" value="Confirm" class="btn btn-danger"/>
        <a href="/Student/index">
            <input type="button" value="Cancel" class="btn btn-light" />
        </a>
       
    </form>

